MIRRORBRAIN_HTTP_HOST=127.0.0.1
MIRRORBRAIN_HTTP_PORT=3007
MIRRORBRAIN_WORKSPACE_DIR=/path_to_workspace/mirrorbrain-workspace
MIRRORBRAIN_ACTIVITYWATCH_BASE_URL=http://127.0.0.1:5600
MIRRORBRAIN_OPENVIKING_BASE_URL=http://127.0.0.1:1933
MIRRORBRAIN_SYNC_INTERVAL_MS=3600000
MIRRORBRAIN_INITIAL_BACKFILL_HOURS=24
